.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  top: 20px;
  padding: 10px;
  border-width: 2px;
}
h1 {
  font-weight: 500;
  font-size: 40px;
  color: white;
  margin-bottom: 2px;
}

ul {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 14px;
  color: white;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-temperature {
  float: right;
  color: #878787;
}
.weather-temperature img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}
.weather-temperature strong {
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  opacity: 0.8;
  margin-left: 15px;
}
.weather-temperature .units {
  position: relative;
  font-size: 10px;
  top: -20px;
  color: white;
}
.weather-temperature .active {
  color: white;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.measures {
  font-weight: 200;
  font-size: 10px;
  color: white;
  opacity: 0.8;
}
small {
  text-align: center;
  display: block;
  font-size: 12px;
  opacity: 0.9;
  color: #878787;
}
.weather-forecast {
  text-align: center;
  font-size: 12px;
  color: white;
  margin-top: 20px;
}

.overview {
  text-align: left;
  font-weight: 200;
  font-size: 10px;
  color: white;
}
.date {
  font-size: 10px;
}
form {
  text-align: center;
  padding: 20px 0px 0px 0px;
}
.searchbar {
  opacity: 0.5;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.card {
  background-image: url("images/purplecloud.jpg");
  background-position: center center;
  background-size: cover;
}
